@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --color-primario:rgb(67, 67, 75) ;
    --color-secundario:rgb(39, 78, 106) ;
    --color-blanco:white ;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans';
   
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: 0;
}
.header-cabeza{
    background-color:var(--color-primario);
    display: flex;
     justify-content: space-evenly;
    align-items: center; 
    height: 90px;
}


.logo{
    display: flex;
    align-items: center;
    
}

.logo img{
     
    width: 30%;
}



.div-nav{
    display: flex;
  
    align-items: center; 
    width: 100%;
}
.a-nav{
    padding: 0 7px;
    color: rgb(142, 143, 143); 
    font-size: 1rem;
}

.a-nav:hover{
    background-color: rgb(66, 65, 65); 
    color: rgb(219, 218, 218); 
    border: 1px solid #737375;
    border-radius: 15px;
}

.ul-nav {
   display: flex;
    align-items: baseline;
    width: 100%;
} 

#unico-li{
    color:var(--color-blanco);
}

#unico-dos{
    color: rgb(12, 166, 12);
}

.div-logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.titulo-p{
    display: flex;
    align-items: center;
    color: var(--color-blanco);
    font-size: 1.3rem;
}



@media screen and (max-width:768px) {
    .header-cabeza{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      
    }
    .logo{
     display: flex;
    justify-content: center;
    
   
    }

    .logo-img{
        display: flex;
        width: 10%;     
    }

    .nav{
        width: 100%;
    }
    .div-nav{
         background-color: var(--color-primario);
         display: flex; 
         width: 100%; 
    }

    .ul-nav{
         display: flex; 
         justify-content: center;
         flex-wrap: wrap;
        gap: 20px;
    }

    .a-nav{
        /* padding-bottom: 12px; */
        display: flex;
        font-size: 1rem;
    }


}

/* main section banner */


.banner{
    
    background: linear-gradient(rgba(5, 7, 12, 0.473), rgba(5, 7, 12, 0.473)),
    url(../imagenes/ba1.jpg) bottom;
   
    width: 100%;
    height: 90vh;
    /* ancho y alto */
    background-size:100vw 110vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    /* height: 40.10rem;
    background-size:cover ;
    display: flex;
    justify-content: flex-end;
    align-items: center; */
    
}
 
.div-banner{
    color: var(--color-blanco);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 52%;
    flex-wrap: wrap;
text-align: right;
padding-right: 5.5rem;
}

@media screen and (max-width:768px){
    .div-banner{
        width: 100%;
        padding: 0;
        text-align: left;
        justify-content: flex-start;
    }
}

.banner-text{
   width:100% ;
    line-height: 1.5;
    font-size: .99rem;
    padding: 10px 0px 17px;
}



.botn{
    padding: 11px;
    color: var(--color-blanco);
    border: none; 
    background:none;
    font-size: 1rem;
    border-radius: 8px;
    margin: 5px;
}

.btn-orador{
    border: 1px  solid var(--color-blanco);
}

.btn-ticket{
    background-color: rgb(49, 176, 60);
    border: 1px solid rgb(49, 176, 60);
} 

.btn-orador:hover{
    background-color: rgb(37, 36, 36); 
    color: rgb(219, 218, 218); 
    /* border: 1px solid #737375; */
   
}

.btn-ticket:hover{
    background-color: rgb(43, 165, 53); 
    color: rgb(219, 218, 218); 
     border: 1px solid #d7d7da; 
   
}

/* cards */

.selet-card{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-wrap: wrap;
    
}

.text-titulo-card{
    text-align: center;
   
}

#card-p{
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

#card-h2{
    text-transform: uppercase;
}

.cards{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}

.btn-celeste{
    background-color: rgb(72, 194, 194);
    color:var(--color-blanco);
}

/* card horizontal */
.texto-horizontal{
    background-color:var(--color-primario) ;
    color: var(--color-blanco);
    font-size: .9rem;
    
}

.boton-horizontal{
    margin-top: 1rem;
}
/* formulario */

.div-form{
display: flex;
justify-content: center;
flex-direction: column;
}
/* texto parrafo y titulo h2 */
.text-form {
    text-align: center;
}

#p-f{
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
#h2-f{
    text-transform: uppercase;
}

/* form */

.formm{
    display: flex;
    flex-direction: column;
   
}
/* titulo del formulario */
.label-formm{
    text-align: center;
}

span{
    text-decoration-line: underline;
  text-decoration-style: dotted;
}

.aaaa{
    margin: 0rem 23rem ;
   
}

/* div del nombre y apellido */
.fila-formm{
    margin-right: 0;
    margin-left: 0;
}


/* textera y label */
.textera-formm{
    display: flex;
    
    flex-direction: column;
    height: 150px;
    /* padding: 15px 265px;---- error creo */
   margin: 20px 10px 20px 10px;
   
}

#coment-user{
    border-color:#dee2e6 ;
    font-size: 18px;
}

/* bonton enviar de formulario */
.botn-formm{
    margin: 0px 10px;
}

.btn-enviar{
    padding-bottom: 5px;
    margin-bottom:17px ;
    background-color: rgb(121, 183, 59);
color: var(--color-blanco);
font-size: 1.2rem;
}
.btn-enviar:hover{
background-color: rgb(100, 151, 48);
color: var(--color-blanco);
}

.section-pag2{
    border: 1px solid red;
background-color:rebeccapurple ;
}

.div-pag2{
    border: 1px solid rgb(37, 5, 249); 
}

@media screen and (max-width:1024px) {

    .aaaa{
        margin: 0 ; 
        
       
    }

    
}


/* footer casi terminamos */

.div-footer{
    background-color: var(--color-secundario); 
    padding:2px ;
    width: 100%;
}

.ul-footer{
    /* background-color: rgb(43, 100, 140); */
      display: flex; 
    justify-content: space-evenly;
    align-items: center;
   
}

.ul-footer a{
    padding-top:14px ;
color: var(--color-blanco);

}

.li-footer{
    
    width: 6rem;
    display: flex;
    
}

@media screen and (max-width:768px) {

   
.ul-footer{
    display: flex;
    justify-content: center; 
   flex-direction: column;
    width: 100%;
}
    
} 

